<savedCardSelectorSkeleton>
    <div class="cardSkeleton">
        <div class="radio"></div>
        <div class="brand"></div>
        <div class="text">
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

</savedCardSelectorSkeleton>